# Pandas Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
first_series = pd.Series(list('abcdef'))
first_series

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [3]:
first_series = pd.Series([52056.01781,40258.80862,40034.855063],index=['Luxemboury','Macao','China'])
first_series

Luxemboury    52056.017810
Macao         40258.808620
China         40034.855063
dtype: float64

##### Look up a country by name or index

In [4]:
first_series.loc['China']

40034.855063

##### Look up by position

In [5]:
first_series.iloc[2]

40034.855063

# Vectotized Operation in Series

In [6]:
first_vector_series = pd.Series([1,2,3,4],index = ['a','b','c','d'])
second_vector_series = pd.Series([10,20,30,40],index=['a','b','c','d'])

In [7]:
first_vector_series+second_vector_series

a    11
b    22
c    33
d    44
dtype: int64

In [8]:
second_vector_series = pd.Series([10,20,30,40],index=['a','d','b','c'])

In [9]:
first_vector_series+second_vector_series

a    11
b    32
c    43
d    24
dtype: int64

In [10]:
second_vector_series = pd.Series([10,20,30,40,],index=['a','b','e','f'])

# Create Data Framefrom list

In [11]:
import pandas as pd

##### create DataFrame from dict of equal length lists

In [12]:
olympic_data_list = {'HostCity':['London','Being','Athens','Sydney','Atlanta'],
                    'Year':[2012,2008,2006,2004,1996],
                    'No.of participaeting Countries':
                    [205,204,201,200,197]}
df_olympic_data = pd.DataFrame(olympic_data_list)
df_olympic_data

  HostCity  Year  No.of participaeting Countries
0   London  2012                             205
1    Being  2008                             204
2   Athens  2006                             201
3   Sydney  2004                             200
4  Atlanta  1996                             197

In [13]:
olympic_data_dict = {'London':{2012:205},'Beijing':{2008:204}}
df_olympic_dict = pd.DataFrame(olympic_data_dict)
df_olympic_dict

      London  Beijing
2012   205.0      NaN
2008     NaN    204.0

## View Dataframe

#### you can view a DataFrame by referring to the name or with thw describe funcation.

In [14]:
# SSSelect by a city name
df_olympic_data.HostCity

0     London
1      Being
2     Athens
3     Sydney
4    Atlanta
Name: HostCity, dtype: object

In [15]:
df_olympic_data.Year

0    2012
1    2008
2    2006
3    2004
4    1996
Name: Year, dtype: int64

In [16]:
df_olympic_data.describe

<bound method NDFrame.describe of   HostCity  Year  No.of participaeting Countries
0   London  2012                             205
1    Being  2008                             204
2   Athens  2006                             201
3   Sydney  2004                             200
4  Atlanta  1996                             197>

In [17]:
olympic_series_particpation = pd.Series([205,204,201,200,197],index=[2012,2008,2004,2000,1996])
olympic_series_country = pd.Series(['london','Beijig','Athens','sydney','Atanla'],
                            index=[2012,2006,2004,2000,1996])

In [18]:
df_olympic_series = pd.DataFrame({'No, of Participating Country':olympic_series_particpation,'HostCity':olympic_series_country})

In [19]:
df_olympic_series

      No, of Participating Country HostCity
1996                         197.0   Atanla
2000                         200.0   sydney
2004                         201.0   Athens
2006                           NaN   Beijig
2008                         204.0      NaN
2012                         205.0   london

# import necessary Libary

In [20]:
import pandas as pd

#### reade the faa(federeal aviation authority) datset

In [21]:
df_faa_dataset = pd.read_csv('faa_ia_prelim.csv')

#### View the dataset shape

In [22]:
df_faa_dataset.shape

(83, 42)

#### view the first five five observation

In [23]:
df_faa_dataset.head()

,UPDATED,ENTRY_DATE,EVENT_LCL_DATE,EVENT_LCL_TIME,LOC_CITY_NAME,LOC_STATE_NAME,LOC_CNTRY_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,...,PAX_INJ_NONE,PAX_INJ_MINOR,PAX_INJ_SERIOUS,PAX_INJ_FATAL,PAX_INJ_UNK,GRND_INJ_NONE,GRND_INJ_MINOR,GRND_INJ_SERIOUS,GRND_INJ_FATAL,GRND_INJ_UNK
0,No,19-FEB-16,19-FEB-16,00:45:00Z,MARSHVILLE,North Carolina,NaN,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,19-FEB-16,18-FEB-16,23:55:00Z,TAVERNIER,Florida,NaN,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,FAA Miami FSDO-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No,19-FEB-16,18-FEB-16,22:14:00Z,TRENTON,New Jersey,NaN,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",Incident,FAA Philadelphia FSDO-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,19-FEB-16,18-FEB-16,17:10:00Z,ASHEVILLE,North Carolina,NaN,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",Incident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,No,19-FEB-16,18-FEB-16,00:26:00Z,TALKEETNA,Alaska,NaN,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",Incident,FAA Anchorage FSDO-03,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### view all  the column present in the dataset

In [24]:
df_faa_dataset.columns

Index(['UPDATED', 'ENTRY_DATE', 'EVENT_LCL_DATE', 'EVENT_LCL_TIME',
       'LOC_CITY_NAME', 'LOC_STATE_NAME', 'LOC_CNTRY_NAME', 'RMK_TEXT',
       'EVENT_TYPE_DESC', 'FSDO_DESC', 'REGIST_NBR', 'FLT_NBR', 'ACFT_OPRTR',
       'ACFT_MAKE_NAME', 'ACFT_MODEL_NAME', 'ACFT_MISSING_FLAG',
       'ACFT_DMG_DESC', 'FLT_ACTIVITY', 'FLT_PHASE', 'FAR_PART', 'MAX_INJ_LVL',
       'FATAL_FLAG', 'FLT_CRW_INJ_NONE', 'FLT_CRW_INJ_MINOR',
       'FLT_CRW_INJ_SERIOUS', 'FLT_CRW_INJ_FATAL', 'FLT_CRW_INJ_UNK',
       'CBN_CRW_INJ_NONE', 'CBN_CRW_INJ_MINOR', 'CBN_CRW_INJ_SERIOUS',
       'CBN_CRW_INJ_FATAL', 'CBN_CRW_INJ_UNK', 'PAX_INJ_NONE', 'PAX_INJ_MINOR',
       'PAX_INJ_SERIOUS', 'PAX_INJ_FATAL', 'PAX_INJ_UNK', 'GRND_INJ_NONE',
       'GRND_INJ_MINOR', 'GRND_INJ_SERIOUS', 'GRND_INJ_FATAL', 'GRND_INJ_UNK'],
      dtype='object')

#### now create a new data frome with only required columns

In [25]:
df_analyz_dataset = df_faa_dataset[['ACFT_MAKE_NAME','LOC_STATE_NAME','ACFT_MODEL_NAME','RMK_TEXT','FLT_PHASE','EVENT_TYPE_DESC','FATAL_FLAG']]

####  view the type of the object

In [26]:
type(df_analyz_dataset)

pandas.core.frame.DataFrame

#### view first five observation

In [27]:
df_analyz_dataset.head()

,ACFT_MAKE_NAME,LOC_STATE_NAME,ACFT_MODEL_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG
0,BEECH,North Carolina,36,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes
1,VANS,Florida,RV7,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,LANDING (LDG),Incident,NaN
2,CESSNA,New Jersey,172,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",APPROACH (APR),Incident,NaN
3,LANCAIR,North Carolina,235,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",LANDING (LDG),Incident,NaN
4,CESSNA,Alaska,172,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",LANDING (LDG),Incident,NaN

#### replace all NAN for  Fatal with  'No'

In [28]:
df_analyz_dataset['FATAL_FLAG'].fillna(value='NO',inplace=True)

C:\Users\abdul\AppData\Local\Temp\ipykernel_16984\1761225931.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_analyz_dataset['FATAL_FLAG'].fillna(value='NO',inplace=True)

#### now view first five observations

In [29]:
df_analyz_dataset.head(80)

,ACFT_MAKE_NAME,LOC_STATE_NAME,ACFT_MODEL_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG
0,BEECH,North Carolina,36,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes
1,VANS,Florida,RV7,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,LANDING (LDG),Incident,NO
2,CESSNA,New Jersey,172,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",APPROACH (APR),Incident,NO
3,LANCAIR,North Carolina,235,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",LANDING (LDG),Incident,NO
4,CESSNA,Alaska,172,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",LANDING (LDG),Incident,NO
...,...,...,...,...,...,...,...
75,MOONEY,Maryland,M20K,"AIRCRAFT ON LANDING, STRUCK A SIGN AND RUNWAY ...",LANDING (LDG),Incident,NO
76,PIPER,Kansas,PA24,"AIRCRAFT LANDED GEAR UP, EUREKA, KS",LANDING (LDG),Incident,NO
77,BOEING,Texas,737,SOUTHWEST AIRLINES FLIGHT SWA3817 BOEING 737 A...,NaN,Incident,NO
78,AERONCA,Texas,O58B,"AIRCRAFT ON LANDING, GROUND LOOPED, BULVERDE A...",LANDING (LDG),Accident,NO
79,NORTH AMERICAN,Arizona,F51,"AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...",UNKNOWN (UNK),Accident,Yes

#### view the shape of the dataset

In [30]:
df_analyz_dataset.shape

(83, 7)

#### dorop  value  where ACFT_MAKE_NAME (aircraft make  name) is not available

In [31]:
df_final_dataset = df_analyz_dataset.dropna(subset=['ACFT_MAKE_NAME'])

In [32]:
df_final_dataset.head()

,ACFT_MAKE_NAME,LOC_STATE_NAME,ACFT_MODEL_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG
0,BEECH,North Carolina,36,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes
1,VANS,Florida,RV7,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,LANDING (LDG),Incident,NO
2,CESSNA,New Jersey,172,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",APPROACH (APR),Incident,NO
3,LANCAIR,North Carolina,235,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",LANDING (LDG),Incident,NO
4,CESSNA,Alaska,172,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",LANDING (LDG),Incident,NO

#### group by aircraft name

In [33]:
aircraftType = df_final_dataset.groupby('ACFT_MAKE_NAME')

#### view then by aircrft using size method

In [34]:
aircraftType.size()

ACFT_MAKE_NAME
AERO COMMANDER             1
AERONCA                    1
AEROSTAR INTERNATIONAL     1
AIRBUS                     1
BEECH                      9
BELL                       2
BOEING                     3
CESSNA                    23
CHAMPION                   2
CHRISTEN                   1
CONSOLIDATED VULTEE        1
EMBRAER                    1
ENSTROM                    1
FAIRCHILD                  1
FLIGHT DESIGN              1
GLOBE                      1
GREAT LAKES                1
GRUMMAN                    1
GULFSTREAM                 1
HUGHES                     1
LANCAIR                    2
MAULE                      1
MOONEY                     4
NORTH AMERICAN             1
PIPER                     10
PITTS                      1
SAAB                       1
SABRELINER                 1
SOCATA                     2
VANS                       1
dtype: int64

#### now group the dataset by fatal flag

In [35]:
falalAccidents = df_analyz_dataset.groupby('FATAL_FLAG')

In [36]:
falalAccidents.size()

FATAL_FLAG
NO     75
Yes     8
dtype: int64

#### SELECT THJE ACCIDENTS WITH FATALITY WITH FATAL YES

In [37]:
accident_with_fatality  = falalAccidents.get_group('Yes')
accident_with_fatality

,ACFT_MAKE_NAME,LOC_STATE_NAME,ACFT_MODEL_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG
0,BEECH,North Carolina,36,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes
22,NaN,Arizona,NaN,"AIRCRAFT, LIGHT SPORT EVOLUTION REVO, ON TAKE...",TAKEOFF (TOF),Accident,Yes
53,PIPER,Florida,PA28,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES. ...,UNKNOWN (UNK),Accident,Yes
55,FLIGHT DESIGN,California,CTLS,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES A...,UNKNOWN (UNK),Accident,Yes
79,NORTH AMERICAN,Arizona,F51,"AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...",UNKNOWN (UNK),Accident,Yes
80,CHAMPION,California,8KCAB,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",UNKNOWN (UNK),Accident,Yes
81,BEECH,California,35,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",UNKNOWN (UNK),Accident,Yes
82,CESSNA,Alabama,182,N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...,UNKNOWN (UNK),Accident,Yes